<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THANK-you</title>
    <link rel="stylesheet" href="../stylesheets/thank.css">
</head>

<body>
    <div class=content>
        <div class="wrapper-1">
            <div class="wrapper-2">
                <h1>Thank you !</h1>
                <p>Thanks for visiting NEXUS </p>
                <p>for more information contact us on</p>
                <div id="insta">
                    <a href="https://www.instagram.com/nexusclubofficial?igsh=M3VqeWZ1YXRldWNu"><img
                            src="../images/Instagram_Glyph_Black.svg" alt="">NEXUS</a>


                    <a href="https://www.instagram.com/miino_angom?igsh=MXNoNzZicTE1bHUzeQ=="><img
                            src="../images/Instagram_Glyph_Black.svg" alt="">AMIT</a>


                    <a href="https://www.instagram.com/chongtham_cheenglai_lakpa?igsh=MWlqMG1kejQ3N2Z4dw=="><img
                            src="../images/Instagram_Glyph_Black.svg" alt="">CHONGTHAM</a>
                </div>
            </div>
        </div>
    </div>



    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>

</html>